*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;

}

body{
    background-color: rgb(203, 203, 227);
}

.span{
    font-weight: lighter;
    font-style: italic;
}

button{
    background-color: #dc8d20;
}

table{
    overflow-y: scroll;
    overflow-x: scroll;
}
.margin{
    margin: 3%;
}

@media screen and (min-width: 567px){
    .modified{
        width: 100%;
    }
}
    
